﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<h3><b style="color:brown"><marquee direction="right"> College and Student Details </marquee></b></h3>

<div>
    @Html.ActionLink("Add Candidate Details", "AddCandidate", "Candidate")
    <br />
    @Html.ActionLink("Add College Details", "AddCollege", "College")
</div>
