﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        
           <h2> @Html.ActionLink("Add Operator", "Index", "MobileOperator")</h2>
    <br />
    <h2> @Html.ActionLink("Add Person", "Index", "Person")</h2>
</div>
</div>