﻿@model CampusSelectionWebApplication.Models.CollegeModel

@{
    ViewData["Title"] = "AddCollege";
}

<h1>AddCollege</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form id="form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
                    <label asp-for="CollegeId" class="control-label"></label>
                    <input asp-for="CollegeId" class="form-control" />
                    <span asp-validation-for="CollegeId" class="text-danger"></span>
                </div>*@
            <div class="form-group">
                <label asp-for="CollegeName" class="control-label"></label>
                <input asp-for="CollegeName" class="form-control" />
                <span asp-validation-for="CollegeName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CollegeDescription" class="control-label"></label>
                <input asp-for="CollegeDescription" class="form-control" />
                <span asp-validation-for="CollegeDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="button" id="btnClick" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $(document).ready(function () {
            $('#btnClick').click(function () {
                var data = $('#form').serialize();
                $.ajax({
                    type: 'POST',
                    url: '/College/AddCollege',
                    data: data,
                    success: function (data) {
                        alert("College added successfully");
                    },
                    error: function (err) {
                        alert("Something went wrong! Please try again");
                    }
                })
            })
            $('#CollegeName').mouseover(function () {
                $('#CollegeName').css('background-color', 'aqua');
            })
            $('#CollegeDescription').mouseout(function () {
                $('#CollegeDescription').css('background-color', 'white');
            })
        })
    </script>
}
